PORT=3333
NODE_ENV=development

DATABASE_URL="postgresql://user:password@localhost:5432/barberpro"

JWT_SECRET="troque-por-uma-chave-longa-e-aleatoria"
JWT_EXPIRES_IN="15m"

REFRESH_TOKEN_SECRET="outra-chave-longa-e-aleatoria"
REFRESH_TOKEN_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"
